<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{issue.projectCode}}</span>
                <!-- <a [routerLink]="['/app/project/manager-project',issue.project_Id]">
                    </a> -->
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <a [routerLink]="['/app/issue/management']"> {{issue.issueCode}}</a>
                <br>
                {{issue.summary}}
            </span>
        </div>
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="new-password">
                    <div>

                        <div class="row mb-4">
                            <div class="col-md-10">
                                <button (click)="editIssue(idIssue)" *ngIf="isGranted('Pages.Issue.Edit')"
                                    class="btn btn-primary" style="margin-right:
                                    5px;"> {{"Edit" |
                                    localize}}</button>
                                <button (click)="startProgress(idIssue)" *ngIf="issue.status_Id == 1 || issue.status_Id == 4"
                                    class="btn btn-primary" style="margin-right:
                                    5px;">
                                    {{"StartProgress" | localize}}</button>
                                <button (click)="stopProgress(idIssue)" *ngIf="issue.status_Id == 2"
                                    class="btn btn-primary" style="margin-right:
                                    5px;">
                                    {{"StopProgress" | localize}}</button>
                                <button (click)="resolved(idIssue)" class="btn btn-primary" style="margin-right:
                                    5px;">
                                    {{"ResolveIssue" | localize}}</button>
                                <button (click)="reOpen(idIssue)" *ngIf="isGranted('Pages.Issue.ReOpen') && issue.status_Id == 3"
                                    class="btn btn-primary" style="margin-right:
                                    5px;" >
                                    {{"ReOpen" | localize}}</button>
                                <button (click)="close(idIssue)" *ngIf="isGranted('Pages.Issue.Close') && issue.status_Id == 3"
                                    class="btn btn-primary" style="margin-right:
                                    5px;">
                                    {{"Close" | localize}}</button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-success" style="float: right;"
                                    (click)="exportExcel()"> <i class="far
                                        fa-file-excel"></i> {{"Export" |
                                    localize}}</button>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="container-full">
                    <div class="row">
                        <div class="col-md-8">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">{{"Details" |
                                    localize}}</legend>
                                <div class="row">
                                    <div class="col-md-2">
                                        {{"Type"| localize}}:
                                    </div>
                                    <div class="col-md-4">
                                        {{getTypeName(issue.type_Id)}}
                                    </div>
                                    <div class="col-md-2">
                                        {{"Status" | localize}}:
                                    </div>
                                    <div class="col-md-4">
                                        {{getStatusName(issue.status_Id)}}
                                    </div>
                                    <div class="col-md-2">
                                        {{"Priority" | localize}}:
                                    </div>
                                    <div class="col-md-4">
                                        {{issue.priority_Id}}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">{{"Discription" | localize}}</legend>
                                <p-editor name="Discription" maxlength="2000" [(ngModel)]="issue.discription"
                                    [style]="{'height':'320px'}"></p-editor>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">{{"People" | localize}}</legend>
                                <div class="row">
                                    <div class="col-md-5">
                                        Assignee:
                                    </div>
                                    <div class="col-md-7">
                                        {{assignee}}
                                    </div>
                                    <div class="col-md-5">
                                        Reporter:
                                    </div>
                                    <div class="col-md-7">
                                        {{reporter}}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">{{"Date" | localize}}</legend>
                                <div class="row">
                                    <div class="col-md-5">
                                        Due:
                                    </div>
                                    <div class="col-md-7">
                                        {{dueDate | momentFormat:'L'}}
                                    </div>
                                    <div class="col-md-5">
                                        Created:
                                    </div>
                                    <div class="col-md-7">
                                        {{createdDate| momentFormat:'LLL'}}
                                    </div>
                                    <div class="col-md-5">
                                        Update:
                                    </div>
                                    <div class="col-md-7">
                                        {{updateDate| momentFormat:'LLL'}}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">{{"Actions" | localize}}</legend>
                                <tabset class="tab-container">
                                    <tab heading="{{'Comment' | localize}}" [active]="true">
                                        <app-comments [IssueId]="issue.id"></app-comments>
                                    </tab>
                                    <!-- <tab heading="{{'History' | localize}}">
                                        History
                                    </tab> -->
                                </tabset>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-create-issue #createOrEditModal (modalSave)="ngOnInit()"></app-create-issue>
    <app-estimate #estimateComponent></app-estimate>
</div>