<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="document.id">{{"Editdocument" | localize}}: {{document.documentName}}</span>
                        <span *ngIf="!document.id">{{"Createdocument" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-11">
                                <label for="DocumentName">{{"DocumentName" | localize}} *</label>
                                <input id="DocumentName" #DocumentNameInput="ngModel" type="text" name="DocumentName" class="form-control" [(ngModel)]="document.documentName" required maxlength="500" />
                            </div>
                            <div class="col-md-1">
                                <i class="pi pi-upload" style="margin: 25px 0 0 -15px;font-size: 3.0em;" (click)="ClickButton($event)"></i>
                                <input id="documentFileInput" #documentFileInput [uploader]="documentUploader" type="file" ng2FileSelect class="form-control" style="display: none;">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Discription">{{"Discription" | localize}}</label>
                        <input id="Discription" type="text" name="Discription" class="form-control" [(ngModel)]="document.discription" maxlength="2000">
                    </div>

                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{"Cancel" | localize}}</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>