<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="new-password1">
              <div class="modal-header">
                  <h4 class="modal-title">
                      <span *ngIf="sprint.id">{{"EditSprint" | localize}}: {{sprint.sprintCode}}</span>
                      <span *ngIf="!sprint.id">{{"CreateSprint" | localize}}</span>
                  </h4>
                  <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                      <label for="IssueCode">{{"SprintCode" | localize}} *</label>
                      <input id="IssueCode" #IssueCodeInput="ngModel" type="text" name="IssueCode1" class="form-control" [(ngModel)]="sprint.sprintCode" required maxlength="500">
                      <validation-messages [formCtrl]="IssueCodeInput"></validation-messages>
                  </div>
                  <div class="form-group">
                      <label for="Project">{{"Project" | localize}} *</label>
                      <select id="Project" name="ProjectName" class="form-control"  [(ngModel)]="sprint.project_Id" #ProjectInput="ngModel" required (change)="onChangeProject(sprint.project_Id)">
                      <option *ngFor ="let item of lstProject" [value]="item.value">{{item.displayText}}</option>
                      <validation-messages [formCtrl]="ProjectInput"></validation-messages>
                  </select>
                  </div>

                  <!-- <div class="form-group">
                      <label for="IssueType">{{"SprintType" | localize}} *</label>
                      <select id="IssueType" name="IssueTypeName" class="form-control" [(ngModel)]="sprint.type_ID" required #IssueTypeInput="ngModel">
                      <option *ngFor ="let item of lstType" [value]="item.id">{{item.displayText}}</option>
                      <validation-messages [formCtrl]="IssueTypeInput"></validation-messages>
                  </select>
                  </div> -->


                  <div class="form-group">
                      <label for="Summary">{{"Summary" | localize}} *</label>
                      <input id="Summary" #SummaryInput="ngModel" type="text" name="SummaryName" class="form-control" [(ngModel)]="sprint.summary" required maxlength="500">
                      <validation-messages [formCtrl]="SummaryInput"></validation-messages>
                  </div>

                  <div class="form-group">
                      <label for="Discription">{{"Discription" | localize}}</label>
                      <p-editor  id="Discriptin" name="Discription" maxlength="2000" [(ngModel)]="sprint.discription" [style]="{'height':'320px'}"></p-editor>
                  </div>

                  <div class="form-group">
                    <label for="StartDate">{{"StartDate" | localize}} </label>
                    <div class="input-group date">
                      <input id="StartDate" type="text" #StartDate name="EndDate" class="form-control" [(ngModel)]="startDate" bsDatepicker autocomplete="off" triggers="dblclick:click" #dp1="bsDatepicker" placeholder="--/--/----">
                      <div class="input-group-append">
                          <span class="input-group-text" (click)="dp1.toggle()">
                              <i class="la la-calendar"></i>
                          </span>
                      </div>
                  </div>
                </div>

                  <div class="form-group">
                      <label for="DueDate">{{"DueDate" | localize}} </label>
                      <div class="input-group date">
                        <input id="DueDate" type="text" #ExpireDate name="EndDate" class="form-control" [(ngModel)]="dueDate" bsDatepicker autocomplete="off" triggers="dblclick:click" #dp3="bsDatepicker" placeholder="--/--/----">
                        <div class="input-group-append">
                            <span class="input-group-text" (click)="dp3.toggle()">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                  </div>

                  <div class="form-group">
                      <label for="Assignee">{{"Assignee" | localize}}*</label>
                      <select id="Assignee" name="Assignee" class="form-control" [(ngModel)]="sprint.assignee_Id" required #AssigneeInput="ngModel">
                      <option *ngFor ="let item of lst" [value]="item.value">{{item.displayText}}</option>
                      <validation-messages [formCtrl]="AssigneeInput"></validation-messages>
                  </select>
                  </div>

                  <div class="modal-footer">
                      <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{"Cancel" | localize}}</button>
                      <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>