<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="member.id">{{"Editmember" | localize}}</span>
                        <span *ngIf="!member.id">{{"Createmember" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="EmployeeName">{{"EmployeeName" | localize}}*</label>
                        <select id="EmployeeName" name="EmployeeName" class="form-control" [(ngModel)]="member.employee_Id" required #EmployeeNameInput="ngModel">
                        <option *ngFor ="let item of lst" [value]="item.value">{{item.displayText}}</option>
                        <validation-messages [formCtrl]="EmployeeNameInput"></validation-messages>

                    </select>
                    </div>
                    <div class="form-group">
                        <label for="Role">{{"Roles" | localize}}*</label>
                        <select id="Role" name="Role" class="form-control" [(ngModel)]="member.role_id" required #RoleInput="ngModel">
                        <option *ngFor ="let item of lstRole" [value]="item.value">{{item.display}}</option>
                        <validation-messages [formCtrl]="RoleInput"></validation-messages>
                    </select>
                    </div>

                    <div class="form-group">
                        <label for="StartDate">{{"StartDate" | localize}} *</label>
                        
                        <div class="input-group date">
                            <input id="StartDate" type="text" #StartDateInput name="StartDate" class="form-control" [(ngModel)]="startDate"
                             bsDatepicker autocomplete="off" triggers="dblclick:click" #dp3="bsDatepicker" placeholder="--/--/----"  #StartDateInput="ngModel">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="dp3.toggle()">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <!-- <input id="SampleDatePicker1" #StartDateInput="ngModel" type="text" #SampleDatePicker name="SampleDatePicker1" class="form-control" [(ngModel)]="startDate" bsDatepicker required [maxDate]="endDate"> -->
                        <validation-messages [formCtrl]="StartDateInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="EndDate">{{"EndDate" | localize}} *</label>
                        
                        <div class="input-group date">
                            <input id="EndDate" type="text" #EndDateInput name="EndDate" class="form-control" [(ngModel)]="endDate" [minDate]="startDate"
                             bsDatepicker autocomplete="off" triggers="dblclick:click" #dp2="bsDatepicker" placeholder="--/--/----"  #EndDateInput="ngModel">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="dp2.toggle()">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <validation-messages [formCtrl]="EndDateInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Note">{{"Note" | localize}} </label>
                        <textarea rows="5" cols="30" pInputTextarea name="Note"  class="form-control" [(ngModel)]="member.note" maxlength="2000"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{"Cancel" | localize}}</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>