<div class="kt-login__form" [@routerTransition]>

  <div class="kt-subheader kt-grid__item">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
        <span>{{"SprintInformationManagement" | localize}}</span>
      </h3>
    </div>
  </div>

  <div class="kt-content">
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <tabset>
                <tab heading="{{'Dashboard' | localize}}">
                <app-dash-board-sprint [sprintId]="sprintId"></app-dash-board-sprint>
                </tab>
                <tab heading="{{'IssuesOfSprint' | localize}}">
                  <app-issues-of-sprint [sprintId]="sprintId"></app-issues-of-sprint>
                </tab>
                <tab heading="{{'Information' | localize}}">
                  <app-info-common-sprint [sprintId]="sprintId"></app-info-common-sprint>
                </tab>
            </tabset>
        </div>
    </div>
</div>
  </div>
