<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{"ManagerIssue" | localize}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{"Issues" | localize}}
            </span>
        </div>
    </div>

    <div class="kt-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <tabset>
                    <tab heading="{{'IssueOfUser' | localize}}">
                        <app-issue-of-user></app-issue-of-user>
                        </tab>

                    <tab heading="{{'Active' | localize}}">
                        <div class="row mb-2">
                            <div class="col-sm-12 text-right">
                                <button type="button" class="btn btn-success" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" (click)="exportExcel()">
                                    <i class="far fa-file-excel"></i> {{"Export" | localize}}
                                </button>
                                <button (click)="createNew()" *ngIf="isGranted('Pages.Sprint.Create')" class="btn
                                btn-primary"><i class="fa fa-plus"></i> {{"CreateNew" | localize}}</button>
                            </div>
                        </div>
                        <div class="kt-form">
                            <form class="kt-form" autocomplete="new-password">
                                <div>
                                    <div class="row align-items-center mb-4">
                                        <div class="col-xl-12">
                                            <div class="form-group m-form__group
                                                align-items-center">
                                                <div class="input-group">
                                                    <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                        class="form-control m-input"
                                                        [placeholder]="l('SearchWithThreeDot')" type="text">
                                                    <span class="input-group-btn">
                                                        <button (click)="getAll()" class="btn btn-primary"
                                                            type="submit"><i class="flaticon-search-1"
                                                                [attr.aria-label]="l('Search')"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-4" [hidden]="!advancedFiltersAreShown1">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Sprint">{{"Sprint" |
                                                    localize}}</label>
                                                <p-multiSelect [options]="lstSprint" name="Sprint"
                                                    [(ngModel)]="lstSprintId" [panelStyle]="{minWidth:'12em'}">
                                                    <ng-template let-value pTemplate="selectedItems">
                                                        <span *ngIf="!value || value.length
                                                            === 0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{"Choose"|localize}}</span>
                                                        <span *ngIf="value && value.length>
                                                            0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{value.length}}
                                                            {{"options"|localize}}</span>
                                                    </ng-template>
                                                    <ng-template let-car let-i="index" pTemplate="item">
                                                        {{car.displayText}}
                                                    </ng-template>
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Assignee">{{"Assignee" |
                                                    localize}}</label>
                                                <p-multiSelect [options]="lstMember" name="Assignee"
                                                    [(ngModel)]="lstAssigneeId" [panelStyle]="{minWidth:'12em'}">
                                                    <ng-template let-value pTemplate="selectedItems">
                                                        <span *ngIf="!value || value.length
                                                            === 0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{"Choose"|localize}}</span>
                                                        <span *ngIf="value && value.length>
                                                            0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{value.length}}
                                                            {{"options"|localize}}</span>
                                                    </ng-template>
                                                    <ng-template let-car let-i="index" pTemplate="item">
                                                        {{car.displayText}}
                                                    </ng-template>
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="IssueType">{{"IssueType" |
                                                    localize}}</label>
                                                <p-multiSelect [options]="lstType" name="IssueType"
                                                    [(ngModel)]="lstIssueTypeId" [panelStyle]="{minWidth:'12em'}">
                                                    <ng-template let-value pTemplate="selectedItems">
                                                        <span *ngIf="!value || value.length
                                                            === 0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{"Choose"|localize}}</span>
                                                        <span *ngIf="value && value.length>
                                                            0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{value.length}}
                                                            {{"options"|localize}}</span>
                                                    </ng-template>
                                                    <ng-template let-car let-i="index" pTemplate="item">
                                                        {{car.displayText}}
                                                    </ng-template>
                                                </p-multiSelect>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Status">{{"Status" | localize}}</label>
                                                <p-multiSelect [options]="lstStatus" name="IssueType"
                                                    [(ngModel)]="lstStatusId" [panelStyle]="{minWidth:'12em'}">
                                                    <ng-template let-value pTemplate="selectedItems">
                                                        <span *ngIf="!value || value.length
                                                            === 0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{"Choose"|localize}}</span>
                                                        <span *ngIf="value && value.length>
                                                            0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{value.length}}
                                                            {{"options"|localize}}</span>
                                                    </ng-template>
                                                    <ng-template let-car let-i="index" pTemplate="item">
                                                        {{car.displayText}}
                                                    </ng-template>
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-success" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false" (click)="getAll()"
                                                style="float: right;">
                                                <i class="la la-refresh"></i> {{"Refresh" |
                                                localize}}
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col-sm-12" style="margin-top: -24px">
                                            <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown1"
                                                (click)="advancedFiltersAreShown1=!advancedFiltersAreShown1"><i
                                                    class="fa fa-angle-down"></i>
                                                {{"ShowAdvancedFilters" | localize}}</span>
                                            <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown1"
                                                (click)="advancedFiltersAreShown1=!advancedFiltersAreShown1"><i
                                                    class="fa fa-angle-up"></i>
                                                {{"HideAdvancedFilters" | localize}}</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row align-items-center">
                            <!--<Primeng-TurboTable-Start>-->
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelperIssueActive.isLoading">
                                <p-table #dataTable (onLazyLoad)="getAll($event)"
                                    [value]="primengTableHelperIssueActive.records"
                                    rows="{{primengTableHelperIssueActive.defaultRecordsCountPerPage}}"
                                    [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelperIssueActive.isResponsive"
                                    [resizableColumns]="primengTableHelperIssueActive.resizableColumns">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 50px">
                                            </th>

                                            <th style="width: 150px" pSortableColumn="TaskCode">
                                                {{'IssueCode' | localize}}
                                                <p-sortIcon field="TaskCode"></p-sortIcon>
                                            </th>

                                            <th style="width: 150px" pSortableColumn="Summary">
                                                {{'Summary' | localize}}
                                                <p-sortIcon field="Summary"></p-sortIcon>
                                            </th>

                                            <th style="width: 150px" pSortableColumn="issue.Sprint_Id">
                                                {{'Sprint' | localize}}
                                                <p-sortIcon field="issue.Sprint_Id"></p-sortIcon>
                                            </th>

                                            <th style="width: 150px" pSortableColumn="Status_Id">
                                                {{'Status' | localize}}
                                                <p-sortIcon field="Status_Id"></p-sortIcon>
                                            </th>

                                            <th style="width: 150px" pSortableColumn="Type_Id">
                                                {{'Type' | localize}}
                                                <p-sortIcon field="Type_Id"></p-sortIcon>
                                            </th>

                                            <th style="width: 150px">
                                                {{'Assignee' | localize}}
                                                <p-sortIcon></p-sortIcon>
                                            </th>

                                            <th style="width: 150px" pSortableColumn="creationTime">
                                                {{'Created' | localize}}
                                                <p-sortIcon field="creationTime"></p-sortIcon>
                                            </th>

                                            <th style="width: 150px" pSortableColumn="EndDate">
                                                {{'EndDate' | localize}}
                                                <p-sortIcon field="EndDate"></p-sortIcon>
                                            </th>


                                            <th style="width: 150px" pSortableColumn="Estimate">
                                                {{'Estimate' | localize}}
                                                <p-sortIcon field="Estimate"></p-sortIcon>
                                            </th>


                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                            <td style="width: 50px" [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation',
                                                'Pages.Administration.Users.Edit',
                                                'Pages.Administration.Users.ChangePermissions',
                                                'Pages.Administration.Users.Delete')">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button dropdownToggle class="btn
                                                        btn-sm btn-primary">
                                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Sprint.Edit'
                                                                | permission" (click)="editSprint(record.id)">{{'Edit'
                                                                | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Sprint.Delete'
                                                                | permission" (click)="delete(record)">{{'Delete'
                                                                | localize}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'SprintName' | localize}}</span>
                                                <span (click)="onClickIssue(record.id)"
                                                    style="color: blue;cursor: pointer">
                                                    {{record.taskCode}}
                                                </span>
                                            </td>

                                            <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'Summary' | localize}}</span>
                                                {{record.summary}}
                                            </td>

                                            <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'Sprint' | localize}}</span>
                                                {{record.sprintName}}
                                            </td>

                                            <td style="width: 150px;">
                                                <span class="ui-column-title">
                                                    {{'Status' | localize}}</span>
                                                <!-- <span class="kt-badge kt-badge--brand
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 1">{{getStatusName(record.status_Id)}}</span>
                                                <span class="kt-badge kt-badge--success
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 2">{{getStatusName(record.status_Id)}}</span>
                                                <span class="kt-badge kt-badge--success
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 3">{{getStatusName(record.status_Id)}}</span>
                                                <span class="kt-badge kt-badge--dark
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 4">{{getStatusName(record.status_Id)}}</span>
                                                <span class="kt-badge kt-badge--danger
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 5">{{getStatusName(record.status_Id)}}</span> -->

                                                    <span class="kt-badge kt-badge--brand
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 1">{{getStatusName(record.status_Id)}}</span>
                                                  <span class="kt-badge kt-badge--success
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 2">{{getStatusName(record.status_Id)}}</span>
                                                  <span class="kt-badge kt-badge--success
                                                    kt-badge--inline" style="background-color: #FFCE56
                                                    !important;"
                                                    *ngIf="record.status_Id == 3">{{getStatusName(record.status_Id)}}</span>
                                                  <span class="kt-badge kt-badge--dark
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 4">{{getStatusName(record.status_Id)}}</span>
                                                  <span class="kt-badge kt-badge--danger
                                                    kt-badge--inline" style="background-color: #bc4f4f
                                                    !important;"
                                                    *ngIf="record.status_Id == 5">{{getStatusName(record.status_Id)}}</span>
                                            </td>

                                            <td style="width: 150px">
                                                <span class="ui-column-title"> {{'Type'
                                                    | localize}}</span>
                                                <!-- <span class="kt-badge kt-badge--success
                                                    kt-badge--inline"
                                                    *ngIf="record.type_Id == 1">{{getTypeName(record.type_Id)}}</span>
                                                <span class="kt-badge kt-badge--primary
                                                    kt-badge--inline"
                                                    *ngIf="record.type_Id == 2">{{getTypeName(record.type_Id)}}</span>
                                                <span class="kt-badge kt-badge--danger
                                                    kt-badge--inline"
                                                    *ngIf="record.type_Id == 3">{{getTypeName(record.type_Id)}}</span> -->

                                                    <span class="kt-badge kt-badge--success
                                                    kt-badge--inline"
                                                    *ngIf="record.type_Id == 1">{{getTypeName(record.type_Id)}}</span>
                                                  <span class="kt-badge kt-badge--primary
                                                    kt-badge--inline"
                                                    *ngIf="record.type_Id == 2">{{getTypeName(record.type_Id)}}</span>
                                                  <span class="kt-badge kt-badge--danger
                                                    kt-badge--inline" style="background-color: #bc4f4f
                                                    !important;"
                                                    *ngIf="record.type_Id == 3">{{getTypeName(record.type_Id)}}</span>
                                            </td>

                                            <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'Assignee' | localize}}</span>
                                                {{record.assignName
                                                }}
                                            </td>


                                            <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'StartDate' | localize}}</span>
                                                {{record.creationTime | momentFormat:'L'
                                                }}
                                            </td>

                                            <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'EndDate' | localize}}</span>
                                                {{record.due_Date | momentFormat:'L'}}
                                            </td>

                                            <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'Estimate' | localize}}</span>
                                                {{record.estimate}}
                                            </td>

                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data"
                                    *ngIf="primengTableHelperIssueActive.totalRecordsCount == 0">
                                    {{'NoData' | localize}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelperIssueActive.defaultRecordsCountPerPage"
                                        #paginator (onPageChange)="getAll($event)"
                                        [totalRecords]="primengTableHelperIssueActive.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelperIssueActive.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <span class="total-records-count">
                                        {{'TotalRecordsCount' |
                                        localize:primengTableHelperIssueActive.totalRecordsCount}}
                                    </span>
                                </div>
                            </div>
                            <!--<Primeng-TurboTable-End>-->
                        </div>
                    </tab>
                    <tab heading="{{'BackLog' | localize}}">
                        <div class="row mb-2">
                            <div class="col-sm-12 text-right">
                                <button type="button" class="btn btn-success" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" (click)="exportExcelBackLog()">
                                    <i class="far fa-file-excel"></i> {{"Export" | localize}}
                                </button>
                                <button (click)="createNew()" *ngIf="isGranted('Pages.Issue.Create')" class="btn
                                btn-primary"><i class="fa fa-plus"></i> {{"CreateNew" | localize}}</button>
                            </div>
                        </div>
                        <div class="kt-form">
                            <form class="kt-form" autocomplete="new-password">
                                <div>
                                    <div class="row align-items-center mb-4">
                                        <div class="col-xl-12">
                                            <div class="form-group m-form__group
                                                align-items-center">
                                                <div class="input-group">
                                                    <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                        class="form-control m-input"
                                                        [placeholder]="l('SearchWithThreeDot')" type="text">
                                                    <span class="input-group-btn">
                                                        <button (click)="getAllBackLock()" class="btn btn-primary"
                                                            type="submit"><i class="flaticon-search-1"
                                                                [attr.aria-label]="l('Search')"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-4" [hidden]="!advancedFiltersAreShown">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Sprint">{{"Sprint" |
                                                    localize}}</label>
                                                <p-multiSelect [options]="lstSprint" name="Sprint"
                                                    [(ngModel)]="lstSprintBackLogId" [panelStyle]="{minWidth:'12em'}">
                                                    <ng-template let-value pTemplate="selectedItems">
                                                        <span *ngIf="!value || value.length
                                                            === 0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{"Choose"|localize}}</span>
                                                        <span *ngIf="value && value.length>
                                                            0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{value.length}}
                                                            {{"Options"|localize}}</span>
                                                    </ng-template>
                                                    <ng-template let-car let-i="index" pTemplate="item">
                                                        {{car.displayText}}
                                                    </ng-template>
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Assignee">{{"Assignee" |
                                                    localize}}</label>
                                                <p-multiSelect [options]="lstMember" name="Assignee"
                                                    [(ngModel)]="lstAssigneeBackLogId" [panelStyle]="{minWidth:'12em'}">
                                                    <ng-template let-value pTemplate="selectedItems">
                                                        <span *ngIf="!value || value.length
                                                            === 0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{"Choose"|localize}}</span>
                                                        <span *ngIf="value && value.length>
                                                            0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{value.length}}
                                                            {{"options"|localize}}</span>
                                                    </ng-template>
                                                    <ng-template let-car let-i="index" pTemplate="item">
                                                        {{car.displayText}}
                                                    </ng-template>
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="IssueType">{{"IssueType" |
                                                    localize}}</label>
                                                <p-multiSelect [options]="lstType" name="IssueType"
                                                    [(ngModel)]="lstIssueTypeBackLogId"
                                                    [panelStyle]="{minWidth:'12em'}">
                                                    <ng-template let-value pTemplate="selectedItems">
                                                        <span *ngIf="!value || value.length
                                                            === 0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{"Choose"|localize}}</span>
                                                        <span *ngIf="value && value.length>
                                                            0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{value.length}}
                                                            {{"options"|localize}}</span>
                                                    </ng-template>
                                                    <ng-template let-car let-i="index" pTemplate="item">
                                                        {{car.displayText}}
                                                    </ng-template>
                                                </p-multiSelect>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Status">{{"Status" | localize}}</label>
                                                <p-multiSelect [options]="lstStatus" name="IssueType"
                                                    [(ngModel)]="lstStatusBackLogId" [panelStyle]="{minWidth:'12em'}">
                                                    <ng-template let-value pTemplate="selectedItems">
                                                        <span *ngIf="!value || value.length
                                                            === 0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{"Choose"|localize}}</span>
                                                        <span *ngIf="value && value.length>
                                                            0" class="ui-multiselected-empty-token
                                                            ui-corner-all">{{value.length}}
                                                            {{"options"|localize}}</span>
                                                    </ng-template>
                                                    <ng-template let-car let-i="index" pTemplate="item">
                                                        {{car.displayText}}
                                                    </ng-template>
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-success" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false" (click)="getAllBackLock()"
                                                style="float: right;">
                                                <i class="la la-refresh"></i> {{"Refresh" |
                                                localize}}
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col-sm-12" style="margin-top: -24px">
                                            <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                                    class="fa fa-angle-down"></i>
                                                {{"ShowAdvancedFilters" | localize}}</span>
                                            <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                                (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                                    class="fa fa-angle-up"></i>
                                                {{"HideAdvancedFilters" | localize}}</span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="row align-items-center">
                            <!--<Primeng-TurboTable-Start>-->
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelperBackLog.isLoading">
                                <p-table #dataTable (onLazyLoad)="getAllBackLock($event)"
                                    [value]="primengTableHelperBackLog.records"
                                    rows="{{primengTableHelperBackLog.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelperBackLog.isResponsive"
                                    [resizableColumns]="primengTableHelperBackLog.resizableColumns">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 50px">
                                            </th>

                                            <th style="width: 150px" pSortableColumn="TaskCode">
                                                {{'IssueCode' | localize}}
                                                <p-sortIcon field="TaskCode"></p-sortIcon>
                                            </th>

                                            <th style="width: 150px" pSortableColumn="Summary">
                                                {{'Summary' | localize}}
                                                <p-sortIcon field="Summary"></p-sortIcon>
                                            </th>

                                            <!-- <th style="width: 150px"
                                                pSortableColumn="sprintName">
                                                {{'Sprint' | localize}}
                                                <p-sortIcon field="sprintName"></p-sortIcon>
                                            </th> -->

                                            <th style="width: 150px" pSortableColumn="Status_Id">
                                                {{'Status' | localize}}
                                                <p-sortIcon field="Status_Id"></p-sortIcon>
                                            </th>

                                            <th style="width: 150px" pSortableColumn="Type_Id">
                                                {{'Type' | localize}}
                                                <p-sortIcon field="Type_Id"></p-sortIcon>
                                            </th>

                                            <th style="width: 150px" pSortableColumn="creationTime">
                                                {{'Created' | localize}}
                                                <p-sortIcon field="creationTime"></p-sortIcon>
                                            </th>

                                            <th style="width: 150px" pSortableColumn="EndDate">
                                                {{'EndDate' | localize}}
                                                <p-sortIcon field="EndDate"></p-sortIcon>
                                            </th>


                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                            <td style="width: 50px" [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation',
                                                'Pages.Administration.Users.Edit',
                                                'Pages.Administration.Users.ChangePermissions',
                                                'Pages.Administration.Users.Delete')">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button dropdownToggle class="btn
                                                        btn-sm btn-primary">
                                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Sprint.Edit'
                                                                | permission" (click)="editSprint(record.id)">{{'Edit'
                                                                | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Sprint.Delete'
                                                                | permission" (click)="delete(record)">{{'Delete'
                                                                | localize}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'SprintName' | localize}}</span>
                                                {{record.taskCode}}
                                            </td>

                                            <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'Summary' | localize}}</span>
                                                {{record.summary}}
                                            </td>

                                            <!-- <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'Sprint' | localize}}</span>
                                                {{record.sprintName}}
                                            </td> -->

                                            <td style="width: 150px;">
                                                <span class="ui-column-title">
                                                    {{'Status' | localize}}</span>
                                                <span class="kt-badge kt-badge--brand
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 1">{{getStatusName(record.status_Id)}}</span>
                                                <span class="kt-badge kt-badge--success
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 2">{{getStatusName(record.status_Id)}}</span>
                                                <span class="kt-badge kt-badge--success
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 3">{{getStatusName(record.status_Id)}}</span>
                                                <span class="kt-badge kt-badge--dark
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 4">{{getStatusName(record.status_Id)}}</span>
                                                <span class="kt-badge kt-badge--danger
                                                    kt-badge--inline"
                                                    *ngIf="record.status_Id == 5">{{getStatusName(record.status_Id)}}</span>
                                            </td>

                                            <td style="width: 150px">
                                                <span class="ui-column-title"> {{'Type'
                                                    | localize}}</span>
                                                <span class="kt-badge kt-badge--success
                                                    kt-badge--inline"
                                                    *ngIf="record.type_Id == 1">{{getTypeName(record.type_Id)}}</span>
                                                <span class="kt-badge kt-badge--primary
                                                    kt-badge--inline"
                                                    *ngIf="record.type_Id == 2">{{getTypeName(record.type_Id)}}</span>
                                                <span class="kt-badge kt-badge--danger
                                                    kt-badge--inline"
                                                    *ngIf="record.type_Id == 3">{{getTypeName(record.type_Id)}}</span>
                                                <!-- {{record.type_Id}} -->
                                            </td>


                                            <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'StartDate' | localize}}</span>
                                                {{record.creationTime | momentFormat:'L'
                                                }}
                                            </td>

                                            <td style="width: 150px">
                                                <span class="ui-column-title">
                                                    {{'EndDate' | localize}}</span>
                                                {{record.due_Date | momentFormat:'L'}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelperBackLog.totalRecordsCount == 0">
                                    {{'NoData' | localize}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelperBackLog.defaultRecordsCountPerPage"
                                        #paginator (onPageChange)="getAllBackLock($event)"
                                        [totalRecords]="primengTableHelperBackLog.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelperBackLog.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <span class="total-records-count">
                                        {{'TotalRecordsCount' |
                                        localize:primengTableHelperBackLog.totalRecordsCount}}
                                    </span>
                                </div>
                            </div>
                            <!--<Primeng-TurboTable-End>-->
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <app-create-issue #createOrEditModal (modalSave)="getAll()" (modalSave)="getAllBackLock()"></app-create-issue>
</div>