<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{"ManagerProject" | localize}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
            {{"Issues" | localize}}
        </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="exportExcel()">
                    <i class="far fa-file-excel"></i> {{"Export" | localize}}
                </button>
                <button (click)="createNew()" *ngIf="isGranted('Pages.Administration.Users.Create')" class="btn btn-primary"><i class="fa fa-plus"></i> {{"CreateNew" | localize}}</button>
            </div>
        </div>
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="new-password">
                    <div>
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                        <button (click)="getAll()" class="btn btn-primary" type="submit"><i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i></button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4" [hidden]="!advancedFiltersAreShown">
                            <div [ngClass]="{'col-md-3': ('Pages.Administration.Roles' | permission), 'col-md-12':!isGranted('Pages.Administration.Roles')}">
                                <div class="form-group">
                                    <label for="HasException">{{"Project" | localize}}</label>
                                    <select id="HasException" name="HasException" class="form-control" [(ngModel)]="hasException">
                                            <option value="">{{"All" | localize}}</option>
                                            <option value="false">{{"Success" | localize}}</option>
                                            <option value="true">{{"HasError" | localize}}</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="'Pages.Administration.Roles' | permission">
                                <div class="form-group">
                                    <label for="HasException">{{"Type" | localize}}</label>
                                    <select id="HasException" name="HasException" class="form-control" [(ngModel)]="hasException">
                                        <option value="">{{"All" | localize}}</option>
                                        <option value="false">{{"Success" | localize}}</option>
                                        <option value="true">{{"HasError" | localize}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3" *ngIf="'Pages.Administration.Roles' | permission">
                                <div class="form-group">
                                    <label for="HasException">{{"Satus" | localize}}</label>
                                    <select id="HasException" name="HasException" class="form-control" [(ngModel)]="hasException">
                                        <option value="">{{"All" | localize}}</option>
                                        <option value="false">{{"Success" | localize}}</option>
                                        <option value="true">{{"HasError" | localize}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="'Pages.Administration.Roles' | permission">
                                <div class="form-group">
                                    <label for="HasException">{{"Assignee" | localize}}</label>
                                    <select id="HasException" name="HasException" class="form-control" [(ngModel)]="hasException">
                                        <option value="">{{"All" | localize}}</option>
                                        <option value="false">{{"Success" | localize}}</option>
                                        <option value="true">{{"HasError" | localize}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{"ShowAdvancedFilters" | localize}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{"HideAdvancedFilters" | localize}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <!-- <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">{{'Actions' | localize}}</th> -->
                                    <th style="width: 100px" pSortableColumn="ProjectCode">
                                        {{'Project' | localize}}
                                        <p-sortIcon field="ProjectCode"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="IssueCode">
                                        {{'IssueCode' | localize}}
                                        <p-sortIcon field="IssueCode"></p-sortIcon>
                                    </th>
                                    <th style="width: 300px" pSortableColumn="Summary">
                                        {{'Summary' | localize}}
                                        <p-sortIcon field="Summary"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="IssueTye">
                                        {{'IssueTye' | localize}}
                                        <p-sortIcon field="IssueTye"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="Status">
                                        {{'Status' | localize}}
                                        <p-sortIcon field="Status"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="Estimate">
                                        {{'Estimate' | localize}}
                                        <p-sortIcon field="Estimate"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="Due_Date">
                                        {{'DueDate' | localize}}
                                        <p-sortIcon field="Due_Date"></p-sortIcon>
                                    </th>
                                  
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <!-- <td style="width: 130px" [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                            <i class="fa fa-cog"></i><span class="caret"></span> {{"Actions" | localize}}
                                        </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;" *ngIf="'Pages.Administration.Users.Edit' | permission" (click)="editProject(record.id)">{{'Edit' | localize}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="'Pages.Administration.Users.Delete' | permission" [routerLink]="['/app/project/manager-project',record.id]">{{'ManagerProject' | localize}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="'Pages.Administration.Users.Delete' | permission" (click)="delete(record)">{{'Delete' | localize}}</a>
                                                </li>


                                            </ul>
                                        </div>
                                    </td> -->
                                    <td style="width: 100px">
                                        <span class="ui-column-title"> {{'Project' | localize}}</span> {{record.project_Id}}
                                    </td>
                                    <td style="width: 100px">
                                        <span class="ui-column-title"> {{'IssueCode' | localize}}</span> {{record.issueCode}}
                                    </td>
                                    <td style="width: 300px">
                                        <a href="javascript:;" *ngIf="'Pages.Administration.Users.Delete' | permission" [routerLink]="['/app/issue/management-issue',record.id]">
                                            <span class="ui-column-title"> {{'Summary' | localize}}</span> {{record.summary}}
                                        </a>
                                    </td>
                                    <td style="width: 100px">
                                        <span class="ui-column-title"> {{'IssueTye' | localize}}</span> {{record.type}}
                                    </td>
                                    <td style="width: 100px">
                                        <span class="ui-column-title"> {{'IssueType' | localize}}</span> {{record.type}}
                                    </td>
                                    <td style="width: 100px">
                                        <span class="ui-column-title"> {{'DueDate' | localize}}</span> {{record.due_Date | momentFormat:'L'}}
                                    </td>   
                                    <td style="width: 100px">
                                        <span class="ui-column-title"> {{'Estimate' | localize}}</span> {{record.estimate}}
                                    </td>
                                    
                                    
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{'NoData' | localize}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getAll($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                            </p-paginator>
                            <span class="total-records-count">
                            {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                        </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>

    <app-create-issue #createOrEditModal (modalSave)="getAll()"></app-create-issue>
</div>