<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{"ManagerIssue" | localize}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{"Issues" | localize}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" (click)="exportExcel()">
                    <i class="far fa-file-excel"></i> {{"Export" | localize}}
                </button>
                <button (click)="createNew()" *ngIf="isGranted('Pages.Issue.Create')" class="btn btn-primary"><i
                        class="fa fa-plus"></i> {{"CreateNew" | localize}}</button>
                <button (click)="configView()" class="btn btn-primary"><i class="fa fa-plus"></i>
                    {{"ConfigView" | localize}}</button>

            </div>
        </div>
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="new-password">
                    <div>
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getAll()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"
                                                    [attr.aria-label]="l('Search')"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="projectId">{{"Project" | localize}}</label>
                                    <p-multiSelect [options]="lstProject" name="projectId" [(ngModel)]="lstProjectId"
                                        [panelStyle]="{minWidth:'12em'}">
                                        <ng-template let-value pTemplate="selectedItems">
                                            <span *ngIf="!value || value.length === 0"
                                                class="ui-multiselected-empty-token ui-corner-all">{{"Choose"|localize}}</span>
                                            <span *ngIf="value && value.length > 0"
                                                class="ui-multiselected-empty-token ui-corner-all">{{value.length}}
                                                {{"options"|localize}}</span>
                                        </ng-template>
                                        <ng-template let-car let-i="index" pTemplate="item">
                                            {{car.displayText}}
                                        </ng-template>
                                    </p-multiSelect>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Assignee">{{"Assignee" | localize}}</label>
                                    <p-multiSelect [options]="lstMember" name="Assignee" [(ngModel)]="lstAssigneeId"
                                        [panelStyle]="{minWidth:'12em'}">
                                        <ng-template let-value pTemplate="selectedItems">
                                            <span *ngIf="!value || value.length === 0"
                                                class="ui-multiselected-empty-token ui-corner-all">{{"Choose"|localize}}</span>
                                            <span *ngIf="value && value.length > 0"
                                                class="ui-multiselected-empty-token ui-corner-all">{{value.length}}
                                                {{"options"|localize}}</span>
                                        </ng-template>
                                        <ng-template let-car let-i="index" pTemplate="item">
                                            {{car.displayText}}
                                        </ng-template>
                                    </p-multiSelect>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="IssueType">{{"IssueType" | localize}}</label>
                                    <p-multiSelect [options]="lstType" name="IssueType"
                                        [(ngModel)]="lstIssueTypeId" [panelStyle]="{minWidth:'12em'}">
                                        <ng-template let-value pTemplate="selectedItems">
                                            <span *ngIf="!value || value.length === 0"
                                                class="ui-multiselected-empty-token ui-corner-all">{{"Choose"|localize}}</span>
                                            <span *ngIf="value && value.length > 0"
                                                class="ui-multiselected-empty-token ui-corner-all">{{value.length}}
                                                {{"options"|localize}}</span>
                                        </ng-template>
                                        <ng-template let-car let-i="index" pTemplate="item">
                                            {{car.displayText}}
                                        </ng-template>
                                    </p-multiSelect>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Status">{{"Status" | localize}}</label>
                                    <p-multiSelect [options]="lstStatus" name="IssueType"
                                        [(ngModel)]="lstStatusId" [panelStyle]="{minWidth:'12em'}">
                                        <ng-template let-value pTemplate="selectedItems">
                                            <span *ngIf="!value || value.length === 0"
                                                class="ui-multiselected-empty-token ui-corner-all">{{"Choose"|localize}}</span>
                                            <span *ngIf="value && value.length > 0"
                                                class="ui-multiselected-empty-token ui-corner-all">{{value.length}}
                                                {{"options"|localize}}</span>
                                        </ng-template>
                                        <ng-template let-car let-i="index" pTemplate="item">
                                            {{car.displayText}}
                                        </ng-template>
                                    </p-multiSelect>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="button" class="btn btn-success" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" (click)="getTreeDataFromServer()" style="float: right;">
                                    <i class="la la-refresh"></i> {{"Refresh" | localize}}
                                </button>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{"ShowAdvancedFilters" | localize}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{"HideAdvancedFilters" | localize}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-treeTable [value]="treeData" [resizableColumns]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 50px">{{'Type' | localize}}</th>
                                    <th style="width: 100px">{{'Code' | localize}}</th>
                                    <th style="width: 200px">{{'Summary' | localize}}</th>
                                    <th style="width: 100px">{{'Assignee' | localize}}</th>
                                    <th style="width: 100px">{{'Reporter' | localize}}</th>
                                    <th style="width: 80px">{{'Priority' | localize}}</th>
                                    <th style="width: 100px">{{'Satus' | localize}}</th>
                                    <th style="width: 100px">{{'Created' | localize}}</th>
                                    <th style="width: 100px">{{'DueDate' | localize}}</th>
                                    <th style="width: 100px">{{'Estimate' | localize}}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                                <tr [ttRow]="rowNode">
                                    <td style="width: 50px" class="text-center">
                                        <i class="flaticon2-plus" style="color: blue;" *ngIf ="rowData.type == 1" title="NewFeature"></i>
                                        <i class=" flaticon2-arrow-up" style="color: blue;" *ngIf ="rowData.type == 2" title="Improvement"></i>
                                        <i class="flaticon-danger" style="color: red;" *ngIf ="rowData.type == 3" title="Bug"></i>
                                        <!-- <i class="flaticon-lock" style="color: red;"></i> -->
                                        <!-- <i class="flaticon2-check-mark" style="color: blue;"></i> -->
                                    </td>
                                    <td style="width: 100px ;text-align: center;">{{rowData.name}}</td>
                                    <td style="width: 200px">
                                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                        <span (click)="clickSummary(rowData)">{{rowData.summary}}</span>
                                    </td>
                                    <td style="width: 100px ; text-align: center;">{{rowData.assignee}}</td>
                                    <td style="width: 100px ; text-align: center;">{{rowData.reporter}}</td>
                                    <td style="width: 80px; text-align: center;">{{rowData.priority}}</td>
                                    <td style="width: 100px ;text-align: center;">{{getStatusName(rowData.status)}}</td>
                                    <td style="width: 100px ;text-align: center;">{{rowData.created | momentFormat:'L'}}</td>
                                    <td style="width: 100px ;text-align: center;">{{rowData.due_Date | momentFormat:'L'}}</td>
                                    <td style="width: 100px ;text-align: center;">{{rowData.estimate}}</td>

                                </tr>
                            </ng-template>
                        </p-treeTable>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>

    <app-create-issue #createOrEditModal (modalSave)="getTreeDataFromServer()"></app-create-issue>
    <app-config-view #configViewModal (modalSave)="getTreeDataFromServer()"></app-config-view>
    <app-create-or-update-sprint #createOrEditSprintModal (modalSave)="getTreeDataFromServer()">
    </app-create-or-update-sprint>
</div>