<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">

                <a
                    [routerLink]="['/app/project/manager-project',issue.project_Id]">
                    <span>{{issue.projectCode}}</span>
                </a>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <a [routerLink]="['/app/issue/management']"> {{issue.issueCode}}</a>
                <br>
                {{issue.summary}}
            </span>
        </div>
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="new-password">
                    <div>
                        <div class="row mb-4">
                            <div class="col-md-10">
                                <button (click)="editIssue(idIssue)"
                                    *ngIf="isGranted('Pages.Issue.Edit') &&
                                    isSprint == false"
                                    class="btn btn-primary btn-sm"
                                    style="margin-right:
                                    5px;"> {{"Edit" |
                                    localize}}</button>

                                <button (click)="editIssue(idIssue)"
                                    *ngIf="isGranted('Pages.Sprint.Edit') &&
                                    isSprint == true"
                                    class="btn btn-primary btn-sm"
                                    style="margin-right:
                                    5px;"> {{"Edit" |
                                    localize}}</button>
                                <button (click)="startProgress(idIssue)"
                                    *ngIf="issue.status_Id == 1 ||
                                    issue.status_Id == 5" class="btn btn-primary
                                    btn-sm"
                                    style="margin-right:
                                    5px;">
                                    {{"StartProgress" | localize}}</button>
                                <button (click)="stopProgress(idIssue)"
                                    *ngIf="issue.status_Id == 2"
                                    class="btn btn-primary btn-sm"
                                    style="margin-right:
                                    5px;">
                                    {{"StopProgress" | localize}}</button>
                                <button (click)="resolved(idIssue)" class="btn
                                    btn-primary btn-sm" style="margin-right:
                                    5px;" *ngIf="issue.status_Id == 1 ||
                                    issue.status_Id == 2 || issue.status_Id ==
                                    5">
                                    {{"Resolved" | localize}}</button>
                                <button (click)="reOpen(idIssue)"
                                    *ngIf="isGranted('Pages.Issue.ReOpen') &&
                                    (issue.status_Id == 3 || issue.status_Id ==
                                    4)"
                                    class="btn btn-primary btn-sm"
                                    style="margin-right:
                                    5px;">
                                    {{"ReOpened" | localize}}</button>
                                <button (click)="close(idIssue)"
                                    *ngIf="isGranted('Pages.Issue.Close') &&
                                    issue.status_Id == 3"
                                    class="btn btn-primary btn-sm"
                                    style="margin-right:
                                    5px;">
                                    {{"Compeleted" | localize}}</button>

                                <button (click)="close(idIssue)"
                                    *ngIf="isGranted('Pages.Issue.Close') &&
                                    issue.status_Id == 3"
                                    class="btn btn-primary btn-sm"
                                    style="margin-right:
                                    5px;">
                                    {{"Compeleted" | localize}}</button>

                                <button type="button" class="btn btn-primary btn-sm"
                                    (click)="delete(issue)" *ngIf="isGranted('Pages.Sprint.Delete') &&
                                    isSprint == true">  {{"Delete" |
                                    localize}}</button>

                                <button type="button" class="btn btn-primary btn-sm"
                                    (click)="delete(issue)" *ngIf="isGranted('Pages.Issue.Delete') &&
                                    isSprint == false">  {{"Delete" |
                                    localize}}</button>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="container-full">
                    <div class="row">
                        <div class="col-md-8">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">{{"Details" |
                                    localize}}</legend>
                                <div class="row">
                                    <div class="col-md-2">
                                        {{"Type"| localize}}:
                                    </div>
                                    <div class="col-md-4">
                                        <span class="kt-badge kt-badge--success
                                            kt-badge--inline"
                                            *ngIf="issue.type_Id == 1">{{getTypeName(issue.type_Id)}}</span>
                                        <span class="kt-badge kt-badge--primary
                                            kt-badge--inline"
                                            *ngIf="issue.type_Id == 2">{{getTypeName(issue.type_Id)}}</span>
                                        <span class="kt-badge kt-badge--danger
                                            kt-badge--inline"
                                            *ngIf="issue.type_Id == 3">{{getTypeName(issue.type_Id)}}</span>
                                    </div>
                                    <div class="col-md-2">
                                        {{"Status" | localize}}:
                                    </div>
                                    <div class="col-md-4">
                                        <span class="kt-badge kt-badge--brand
                                            kt-badge--inline"
                                            *ngIf="issue.status_Id == 1">{{getStatusName(issue.status_Id)}}</span>
                                        <span class="kt-badge kt-badge--success
                                            kt-badge--inline"
                                            *ngIf="issue.status_Id == 2">{{getStatusName(issue.status_Id)}}</span>
                                        <span class="kt-badge kt-badge--success
                                            kt-badge--inline"
                                            *ngIf="issue.status_Id == 3">{{getStatusName(issue.status_Id)}}</span>
                                        <span class="kt-badge kt-badge--dark
                                            kt-badge--inline"
                                            *ngIf="issue.status_Id == 4">{{getStatusName(issue.status_Id)}}</span>
                                        <span class="kt-badge kt-badge--danger
                                            kt-badge--inline"
                                            *ngIf="issue.status_Id == 5">{{getStatusName(issue.status_Id)}}</span>
                                    </div>
                                    <div class="col-md-2">
                                        {{"Priority" | localize}}:
                                    </div>
                                    <div class="col-md-4">
                                        {{issue.priority_Id}}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">{{"Discription"
                                    | localize}}</legend>
                                <p-editor name="Discription" maxlength="2000"
                                    [(ngModel)]="issue.discription"
                                    [style]="{'height':'320px'}"></p-editor>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">{{"People" |
                                    localize}}</legend>
                                <div class="row">
                                    <div class="col-md-5">
                                        {{l('Reporter')}}:
                                    </div>
                                    <div class="col-md-7">
                                        {{reporter}}
                                    </div>

                                    <div class="col-md-5">
                                        {{l('Assignee')}}:
                                    </div>
                                    <div class="col-md-7">
                                        {{assignee}}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">{{"Date" |
                                    localize}}</legend>
                                <div class="row">
                                    <div class="col-md-5">
                                        {{l('Due_Date')}} :
                                    </div>
                                    <div class="col-md-7">
                                        {{dueDate | momentFormat:'L'}}
                                    </div>
                                    <div class="col-md-5">
                                        {{l('CreationTime')}}:
                                    </div>
                                    <div class="col-md-7">
                                        {{createdDate| momentFormat:'L , h:mm
                                        a'}}
                                    </div>
                                </div>
                            </fieldset>


                            <fieldset class="scheduler-border" *ngIf="isSprint
                                == true">
                                <legend class="scheduler-border">{{"Issue" |
                                    localize}}</legend>
                                <div class="row">
                                    <div class="col-md-12 test" *ngFor="let item
                                        of issue.listIssue">
                                        <p (click)='clickIssue(item.id)'
                                            style="color: blue;
                                            cursor: pointer;">
                                            {{item.summaryIssue}}
                                        </p>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                        <div class="col-md-12">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">{{"Actions" |
                                    localize}}</legend>
                                <tabset class="tab-container">
                                    <tab heading="{{'Comment' | localize}}"
                                        [active]="true">
                                        <app-comments [IssueId]="issue.id"></app-comments>
                                    </tab>
                                </tabset>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-create-issue #createOrEditModal (modalSave)="ngOnInit()"></app-create-issue>
    <app-estimate #estimateComponent></app-estimate>
</div>